* {
  margin: 0;
  box-sizing: border-box;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

body {
  font-family: "Inter", "Helvetica Neue", Arial, sans-serif;
  background: #f0f0f0;
  overflow: hidden;
}
